.posted-apods-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap; 
    gap: 20px; 
    background-color: var(--main-background);
  }
  
  .posted-apod-profile {
    display: flex;
    justify-content: flex-start; 
    flex-direction: column; 
    max-width: 250px;
    padding: 20px;
    border-radius: 20px;
  }
  
  .posted-apod-profile img {
    width: 250px;
    height: 250px; 
    border-radius: 20px;
  }
  