.saved-apods-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  background-color: var(--main-background);
}

.saved-apod {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  max-width: 250px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.saved-apod img {
  width: 250px;
  height: 250px;
  border-radius: 20px;
}

.overlay {
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.saved-apod:hover .overlay {
  opacity: 1;
}

.overlay button {
  background: transparent;
  border: none;
  color: var(--white);
  font-size: 24px;
  cursor:auto;
}